@import '~antd/es/style/themes/default.less';


.main > * {
    margin-top: 3%;
}

.jobTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.projectTags, .resumeTags {
    margin-bottom: 20%;
}

.tags {
    margin: 5% 5% 5% 0;
}